@import "./global/global.css";
@import "./utilities/typography.css";
@import "./utilities/colors.css";
@import "./global/header.css";
@import "./utilities/components.css";
/* HOME */
@import "./home/intro.css";
/* BIKE-LIST */
@import "./bikes/bike-list.css";


/* mobile */

@media (max-width: 800px) {
    .header-menu {
        gap: 20px;
    }

    .header-menu a {
        background-color: var(--color-12);
        padding: 12px 16px;
        border-radius: 4px;
    }

    .header-menu a:hover {
        background-color: var(--color-10);
    }
    .header a:after{
        display: none;
    }
    .intro-bg{
       background-color: var(--color-12);
       padding-top: 40px;
       box-shadow: inset -60px var(--color-0);
    }
    .intro{
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .intro-content{
        padding-bottom: 0px;
    }
    .font-1-xxl{
        font-size: 2rem;
        margin-bottom: 16px;
    }
    .intro img{
        height: 300px;
        width: 100%;
    }
    .bike-list{
        padding-bottom: 60px;
    }
    .bike-list ul{
      gap: 20px;  
    }
}

@media (max-width: 600px) {
    .header-menu {
        gap: 12px;
    }

    .header-menu a {
        padding: 8px 12px;
        font-size: 14px;
    }
    .button{
        padding: 12px 16px;
        font-size: 1rem;
    }
}